[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyopenssl = "*"
cryptography = "*"
netifaces = "*"

[dev-packages]
twine = "*"
build = "*"
pytest = "*"
auto-changelog = "*"
markupsafe = "==2.0.1"

[requires]
python_version = "3.10"
